*{
	margin: 0
	padding: 0;
}
div.top-bar {
    max-width: 2050px;
    width: 100%;
    display: inline-block;
    background: #333333;
    z-index: 10;
    padding: 7px 0;
    position: fixed;
    top: 0;
}
div.container-top-bar {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
div.currency {
    float: left;
}
div.currency span {
    color: #858585;
    display: inline-block;
}
div.select {
    display: inline-block;
}
div.select select {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 80px;
    background: #333333;
    color: #858585;
}
div.sign {
    display: inline-block;
    float: right;
    padding-top: 5px;
}
div.sign a {
    padding: 12px 20px;
    text-decoration: none;
    color: #858585;
}
a.empty {
    margin-left: 25px;
    position: relative;
    padding: 12px 30px !important;
}
a.empty:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/cart.png) no-repeat;
    position: absolute;
    left: 0;
}
a.empty:after {
    content: ">";
    transform: rotate(90deg);
    width: 12px;
    height: 12px;
    position: absolute;
    right: 5px;
    top: 40%;
}


/*11-1-11-1-111-1-11-1-1-1-1-1--1--1-1-1-*/

div.product {
    margin-top: 80px;
    text-align: center;
}
div.container-footer {
    width: 77%;
    display: inline-block;
}
div.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
div.slide {
    position: relative;
    width: 100%;
}
ul.bxslider {
    width: 49%;
    float: left;
}
ul.bxslider li {
    width: 100%;
    list-style: none;
}
ul.bxslider li img {
    width: 100%;
}
img.slide-main {
    vertical-align: top;
    height: 710px;
}
div.choose {
    text-align: left;
    float: right;
    width: 49%;
}
div.description {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
div.description h2 {
    margin-bottom: 15px;
}
div.rating {
    width: 140px;
    float: left;
}
div.star {
    background: url(../img/star.png) no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
}
div.description span {
    margin-left: 10px;
}
a.review {
    margin: 0 20px;
    text-decoration: none;
    color: #333333;
}
img.share {
    width: 220px !important;
    margin-bottom: -8px;
}
p.sale {
    font-size: 36px;
    margin: 15px 0 20px 0;
    color: #8a8a8a;
}
dl {
    margin-top: 20px;
    width: 85%;
}
div.choose label {
    font-size: 24px;
    width: 155px;
    display: inline-block;
}
div.choose select {
    width: 128px;
    padding: 10px 5px;
    font-size: 18px;
    margin-right: 40px;
    outline: none;
}
button.buy {
    width: 225px;
    height: 70px;
    margin-top: 50px;
    background: no-repeat;
    border: 1px solid #333333;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    vertical-align: top;
}
p.compare {
    margin-top: 25px;
}